{% extends "auctions/layout.html" %}

{% block body %}
<h1>Title: {{ info.title }}</h1>
<h3>Description: {{ info.description }}</h3>
<img src="{{info.image.url}}" width="200"/>
<h4>Starting Bid = {{ info.starting_bid }}</h4>

<hr>



{% if request.user.is_authenticated %}
    {% if message == 0 %}
    <form action="{% url 'wishlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ info.id }}" name="item_id">
        <input type="submit" value="Add to watchlist">
    </form>
    {% else %}
    <form action="{% url 'unlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ info.id }}" name="item_id">
        <input type="submit" value="Remove from watchlist">
    </form>
    {% endif %}
{% endif %}
{% endblock %}