{% extends "auctions/layout.html" %}

{% block body %}
<h1 style="color: red;">{{ error }}</h1>
<hr>
<h1>Title: {{ info.title }}</h1>
<h3>Description: {{ info.description }}</h3>
<img src="{{info.image.url}}" width="200"/>
<h4>Starting Bid = {{ info.starting_bid }}$</h4>
<h4>Post Owner: {{ info.user.username }}</h4>
<h4>Current Price: {{ info.current_price }}$</h4>
<hr>



{% if request.user.is_authenticated %}
    {% if message == 0 %}
    <form action="{% url 'wishlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ info.id }}" name="item_id">
        <input type="submit" value="Add to watchlist">
    </form>
    {% else %}
    <form action="{% url 'unlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ info.id }}" name="item_id">
        <input type="submit" value="Remove from watchlist">
    </form>
    {% endif %}
    <br>
    {% if  info.user != request.user %}
    <form action="{% url 'add_bid' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ info.id }}" name="item_id">
        <input type="hidden" value="{{ info.current_price }}" name="current_price">
        <input type="number" name="bid" value="{{ info.current_price }}">
        <input type="submit" value="Bid on item">
    </form>
    {% endif %}
{% endif %}
{% endblock %}